node_modules/
dist/

# Visual Studio
.vs/
*.suo
*.user
*.sqlite
*.vscode/

# Build outputs
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# Other temporary files
*.log
*.vsidx
/services/services/appsettings.json
/travel-planner/.env
