.footer {
  padding: 1rem 2rem;          /* spacing inside footer */
  background: #4f7397;            /* light gray background */
  text-align: center;          /* center text */
  margin-top: auto;            /* push footer to bottom */
  color: white; 
}

.footer p {
  margin: 0;                   /* remove default paragraph margin */
}
